&-boxScan {
    animation-name: animation-boxScan;
    &-hover {
        &:hover {
            animation-name: animation-boxScan;
        }
    }
}
@keyframes animation-boxScan {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1);
    }
    20% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1);
    }
    80% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    99% {
        transform: scale(1);
    }
    100% {
        display: none;
        transform: scale(0);
    }
}
