.fa-beat {
    @include hover {
        -webkit-animation-name: fa-beat;
        animation-name: fa-beat;
        -webkit-animation-delay: var(--fa-animation-delay, 0s);
        animation-delay: var(--fa-animation-delay, 0s);
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
        -webkit-animation-duration: var(--fa-animation-duration, 1s);
        animation-duration: var(--fa-animation-duration, 1s);
        -webkit-animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        -webkit-animation-timing-function: var(
            --fa-animation-timing,
            ease-in-out
        );
        animation-timing-function: var(--fa-animation-timing, ease-in-out);
    }
}

.fa-bounce {
    @include hover {
        -webkit-animation-name: fa-bounce;
        animation-name: fa-bounce;
        -webkit-animation-delay: var(--fa-animation-delay, 0s);
        animation-delay: var(--fa-animation-delay, 0s);
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
        -webkit-animation-duration: var(--fa-animation-duration, 1s);
        animation-duration: var(--fa-animation-duration, 1s);
        -webkit-animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        -webkit-animation-timing-function: var(
            --fa-animation-timing,
            cubic-bezier(0.28, 0.84, 0.42, 1)
        );
        animation-timing-function: var(
            --fa-animation-timing,
            cubic-bezier(0.28, 0.84, 0.42, 1)
        );
    }
}

.fa-fade {
    @include hover {
        -webkit-animation-name: fa-fade;
        animation-name: fa-fade;
        -webkit-animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        -webkit-animation-timing-function: var(
            --fa-animation-timing,
            cubic-bezier(0.4, 0, 0.6, 1)
        );
        animation-timing-function: var(
            --fa-animation-timing,
            cubic-bezier(0.4, 0, 0.6, 1)
        );
    }
}

.fa-beat-fade,
.fa-fade {
    @include hover {
        -webkit-animation-delay: var(--fa-animation-delay, 0s);
        animation-delay: var(--fa-animation-delay, 0s);
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
        -webkit-animation-duration: var(--fa-animation-duration, 1s);
        animation-duration: var(--fa-animation-duration, 1s);
    }
}

.fa-beat-fade {
    @include hover {
        -webkit-animation-name: fa-beat-fade;
        animation-name: fa-beat-fade;
        -webkit-animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        -webkit-animation-timing-function: var(
            --fa-animation-timing,
            cubic-bezier(0.4, 0, 0.6, 1)
        );
        animation-timing-function: var(
            --fa-animation-timing,
            cubic-bezier(0.4, 0, 0.6, 1)
        );
    }
}

.fa-flip {
    @include hover {
        -webkit-animation-name: fa-flip;
        animation-name: fa-flip;
        -webkit-animation-delay: var(--fa-animation-delay, 0s);
        animation-delay: var(--fa-animation-delay, 0s);
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
        -webkit-animation-duration: var(--fa-animation-duration, 1s);
        animation-duration: var(--fa-animation-duration, 1s);
        -webkit-animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        -webkit-animation-timing-function: var(
            --fa-animation-timing,
            ease-in-out
        );
        animation-timing-function: var(--fa-animation-timing, ease-in-out);
    }
}

.fa-shake {
    @include hover {
        -webkit-animation-name: fa-shake;
        animation-name: fa-shake;
        -webkit-animation-duration: var(--fa-animation-duration, 1s);
        animation-duration: var(--fa-animation-duration, 1s);
        -webkit-animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        -webkit-animation-timing-function: var(--fa-animation-timing, linear);
        animation-timing-function: var(--fa-animation-timing, linear);
    }
}

.fa-shake,
.fa-spin {
    @include hover {
        -webkit-animation-delay: var(--fa-animation-delay, 0s);
        animation-delay: var(--fa-animation-delay, 0s);
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
    }
}

.fa-spin {
    @include hover {
        -webkit-animation-name: fa-spin;
        animation-name: fa-spin;
        -webkit-animation-duration: var(--fa-animation-duration, 2s);
        animation-duration: var(--fa-animation-duration, 2s);
        -webkit-animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        -webkit-animation-timing-function: var(--fa-animation-timing, linear);
        animation-timing-function: var(--fa-animation-timing, linear);
    }
}

.fa-spin-reverse {
    --fa-animation-direction: reverse;
}

.fa-pulse,
.fa-spin-pulse {
    @include hover {
        -webkit-animation-name: fa-spin;
        animation-name: fa-spin;
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
        -webkit-animation-duration: var(--fa-animation-duration, 1s);
        animation-duration: var(--fa-animation-duration, 1s);
        -webkit-animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        animation-iteration-count: var(
            --fa-animation-iteration-count,
            infinite
        );
        -webkit-animation-timing-function: var(--fa-animation-timing, steps(8));
        animation-timing-function: var(--fa-animation-timing, steps(8));
    }
}

@media (prefers-reduced-motion: reduce) {
    .fa-beat,
    .fa-beat-fade,
    .fa-bounce,
    .fa-fade,
    .fa-flip,
    .fa-pulse,
    .fa-shake,
    .fa-spin,
    .fa-spin-pulse {
        @include hover {
            -webkit-animation-delay: -1ms;
            animation-delay: -1ms;
            -webkit-animation-duration: 1ms;
            animation-duration: 1ms;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            -webkit-transition-duration: 0s;
            transition-duration: 0s;
        }
    }
}

@-webkit-keyframes fa-beat {
    0%,
    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    45% {
        -webkit-transform: scale(var(--fa-beat-scale, 1.25));
        transform: scale(var(--fa-beat-scale, 1.25));
    }
}

@keyframes fa-beat {
    0%,
    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    45% {
        -webkit-transform: scale(var(--fa-beat-scale, 1.25));
        transform: scale(var(--fa-beat-scale, 1.25));
    }
}

@-webkit-keyframes fa-bounce {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }

    10% {
        -webkit-transform: scale(
                var(--fa-bounce-start-scale-x, 1.1),
                var(--fa-bounce-start-scale-y, 0.9)
            )
            translateY(0);
        transform: scale(
                var(--fa-bounce-start-scale-x, 1.1),
                var(--fa-bounce-start-scale-y, 0.9)
            )
            translateY(0);
    }

    30% {
        -webkit-transform: scale(
                var(--fa-bounce-jump-scale-x, 0.9),
                var(--fa-bounce-jump-scale-y, 1.1)
            )
            translateY(var(--fa-bounce-height, -0.5em));
        transform: scale(
                var(--fa-bounce-jump-scale-x, 0.9),
                var(--fa-bounce-jump-scale-y, 1.1)
            )
            translateY(var(--fa-bounce-height, -0.5em));
    }

    50% {
        -webkit-transform: scale(
                var(--fa-bounce-land-scale-x, 1.05),
                var(--fa-bounce-land-scale-y, 0.95)
            )
            translateY(0);
        transform: scale(
                var(--fa-bounce-land-scale-x, 1.05),
                var(--fa-bounce-land-scale-y, 0.95)
            )
            translateY(0);
    }

    57% {
        -webkit-transform: scale(1)
            translateY(var(--fa-bounce-rebound, -0.125em));
        transform: scale(1) translateY(var(--fa-bounce-rebound, -0.125em));
    }

    64% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }

    to {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }
}

@keyframes fa-bounce {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }

    10% {
        -webkit-transform: scale(
                var(--fa-bounce-start-scale-x, 1.1),
                var(--fa-bounce-start-scale-y, 0.9)
            )
            translateY(0);
        transform: scale(
                var(--fa-bounce-start-scale-x, 1.1),
                var(--fa-bounce-start-scale-y, 0.9)
            )
            translateY(0);
    }

    30% {
        -webkit-transform: scale(
                var(--fa-bounce-jump-scale-x, 0.9),
                var(--fa-bounce-jump-scale-y, 1.1)
            )
            translateY(var(--fa-bounce-height, -0.5em));
        transform: scale(
                var(--fa-bounce-jump-scale-x, 0.9),
                var(--fa-bounce-jump-scale-y, 1.1)
            )
            translateY(var(--fa-bounce-height, -0.5em));
    }

    50% {
        -webkit-transform: scale(
                var(--fa-bounce-land-scale-x, 1.05),
                var(--fa-bounce-land-scale-y, 0.95)
            )
            translateY(0);
        transform: scale(
                var(--fa-bounce-land-scale-x, 1.05),
                var(--fa-bounce-land-scale-y, 0.95)
            )
            translateY(0);
    }

    57% {
        -webkit-transform: scale(1)
            translateY(var(--fa-bounce-rebound, -0.125em));
        transform: scale(1) translateY(var(--fa-bounce-rebound, -0.125em));
    }

    64% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }

    to {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }
}

@-webkit-keyframes fa-fade {
    50% {
        opacity: var(--fa-fade-opacity, 0.4);
    }
}

@keyframes fa-fade {
    50% {
        opacity: var(--fa-fade-opacity, 0.4);
    }
}

@-webkit-keyframes fa-beat-fade {
    0%,
    to {
        opacity: var(--fa-beat-fade-opacity, 0.4);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(var(--fa-beat-fade-scale, 1.125));
        transform: scale(var(--fa-beat-fade-scale, 1.125));
    }
}

@keyframes fa-beat-fade {
    0%,
    to {
        opacity: var(--fa-beat-fade-opacity, 0.4);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(var(--fa-beat-fade-scale, 1.125));
        transform: scale(var(--fa-beat-fade-scale, 1.125));
    }
}

@-webkit-keyframes fa-flip {
    50% {
        -webkit-transform: rotate3d(
            var(--fa-flip-x, 0),
            var(--fa-flip-y, 1),
            var(--fa-flip-z, 0),
            var(--fa-flip-angle, -180deg)
        );
        transform: rotate3d(
            var(--fa-flip-x, 0),
            var(--fa-flip-y, 1),
            var(--fa-flip-z, 0),
            var(--fa-flip-angle, -180deg)
        );
    }
}

@keyframes fa-flip {
    50% {
        -webkit-transform: rotate3d(
            var(--fa-flip-x, 0),
            var(--fa-flip-y, 1),
            var(--fa-flip-z, 0),
            var(--fa-flip-angle, -180deg)
        );
        transform: rotate3d(
            var(--fa-flip-x, 0),
            var(--fa-flip-y, 1),
            var(--fa-flip-z, 0),
            var(--fa-flip-angle, -180deg)
        );
    }
}

@-webkit-keyframes fa-shake {
    0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    4% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    8%,
    24% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg);
    }

    12%,
    28% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg);
    }

    16% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg);
    }

    20% {
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg);
    }

    32% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg);
    }

    36% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
    }

    40%,
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes fa-shake {
    0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    4% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    8%,
    24% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg);
    }

    12%,
    28% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg);
    }

    16% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg);
    }

    20% {
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg);
    }

    32% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg);
    }

    36% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg);
    }

    40%,
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
