&-rotate {
    animation-name: animation-rotate;
    &-hover {
        &:hover {
            animation-name: animation-rotate;
        }
    }
}
@keyframes animation-rotate {
    to {
        transform: rotateZ(360deg);
    }
}
