html {
    font-size: 18px;
    overflow: auto;
    
    @media (min-width: 575px) {
        font-size: 18px;
    }
    @media (min-width: 768px) {
        font-size: 18px;
    }
    @media (min-width: 992px) {
        font-size: 18px;
    }
    @media (min-width: 1024px) {
        font-size: 18px;
    }
    @media (min-width: 1440px) {
        font-size: 19px;
    }
    @media (min-width: 1680px) {
        font-size: 19px;
    }
    @media (min-width: 1920px) {
        font-size: 19px;
    }
    color-scheme: light;
    background-color: white;
}
body:has(.contentModal--.active),
html:has(.contentModal--.active){
    overflow: hidden ;
}

