::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}
::-webkit-scrollbar-track {
    background-color: var(--white, white);
}
::-webkit-scrollbar-thumb {
    background-color: var(--gray, gray);
}
* {
    scroll-behavior: smooth;
}
.idScroll {
    transform: translateY(calc(calc(-1 * var(--sizeHeader, 0)) - #{ptr(20px)}));
}
