//border
$border-min: 0;
$border-max: 101;

//flex
$flex-min-col: 1;
$flex-max-col: 12;
$flex-min-gap: 1;
$flex-max-gap: 101;

//flex
$grid-min-col: 1;
$grid-max-col: 12;
$grid-min-row: 1;
$grid-max-row: 12;
$grid-min-gap: 1;
$grid-max-gap: 101;

$gap-min: 1;
$gap-max: 101;
//font
$font-min: 0;
$font-max: 61;
$line-h-min: 0;
$line-h-max: 25;

//height
$height-min: 0;
$height-max: 101;

//width
$width-min: 0;
$width-max: 101;

//margin
$margin-min: 0;
$margin-max: 51;

//padding
$padding-min: 0;
$padding-max: 101;
$padding-min-p:0;
$padding-max-p:201;

//trbl
$top-min: 0;
$top-max: 81;
$left-min: 0;
$left-max: 51;
$right-min: 0;
$right-max: 51;
$bottom-min: 0;
$bottom-max: 51;
$inset-min:0;
$inset-max:51;

//z-index
$z-index-min: -11;
$z-index-max: 11;

//container
$container: 1200px;

//box-shadow
$box-x-min: -50;
$box-x-max: 51;
$box-y-min: -50;
$box-y-max: 51;
$box-b-min: 0;
$box-b-max: 51;
$box-s-min: 0;
$box-s-max: 51;

//animations
$animation-duration-min: 1;
$animation-duration-max: 101;
$animation-delay-min: 1;
$animation-delay-max: 101;
$animation-iteration-count-min: 1;
$animation-iteration-count-max: 11;


//transform
$transform-translate-X-min: 0;
$transform-translate-X-max: 101;
$transform-translate-Y-min: 0;
$transform-translate-Y-max: 101;
$transform-scale-X-min: 0;
$transform-scale-X-max: 21;
$transform-scale-Y-min: 0;
$transform-scale-Y-max: 21;
$transform-scale-Z-min: 0;
$transform-scale-Z-max: 21;

//scroll
$scroll-width-min:0;
$scroll-width-max:20;
$scroll-height-min:0;
$scroll-height-max:20;
$scroll-border-radius-min:0;
$scroll-border-radius-max:20;

//aspect-ratio
$aspect-ratio-x-min:0;
$aspect-ratio-y-min:0;
$aspect-ratio-x-max:11;
$aspect-ratio-y-max:11;