@use "sass:map";

$sizesName: (
    100: "Thin",
    200: "ExtraLight",
    300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold",
    700: "Bold",
    800: "ExtraBold",
    900: "Black",
);

@mixin generateFont($name, $nameFont, $sizes, $italic) {
    @each $size in $sizes {
        $sizeN: map.get($sizesName, $size);
        @font-face {
            font-family: #{$name};
            src: url("/font/#{$name}/#{$nameFont}-#{$sizeN}.ttf");
            font-weight: #{$size};
        }
        @if $italic {
            @font-face {
                font-family: #{$name};
                src: url("/font/#{$name}/#{$nameFont}-#{$sizeN}Italic.ttf");
                font-weight: #{$size};
                font-style: italic;
            }
        }
    }
    .font-#{$name} {
        font-family: #{$name};
    }
}
