.StripeElement {
    border-radius: 0.688rem;
    border: 0;
    width: 100%;
    padding: 1.25rem 1.125rem;
    font-size: 0.875rem;
    color: black;
    background-color: #dadada;
    font-family: 'Nunito', sans-serif;
    outline: none;
    margin-bottom: 0.625rem;
}

.AddPayment{
    .StripeElement{
 border-radius: 0.688rem;
    border: 0;
    width: 100%;
    padding: 1.25rem 1.125rem;
    font-size: 0.875rem;
    color: white;
    background-color: #00000025;
    font-family: 'Nunito', sans-serif;
    outline: none;
    margin-bottom: 0.625rem;
    }
}


