.pointer {
    cursor: pointer;
}
.not-allowed {
    cursor: not-allowed;
}
.cursor{
    &-pointer {
        cursor: pointer;
    }
    &-not-allowed {
        cursor: not-allowed;
    }
    &-move{
        cursor: move;
    }
}