.d {
    @include resp {
        &-flex {
            display: flex !important;
        }
        &-inline-block {
            display: inline-block !important;
        }
        &-block {
            display: block !important;
        }
        &-none {
            display: none !important;
        }
    }
}
