.gap {
    @include resp {
        @for $var from $gap-min to ($gap-max + 1) {
            &-#{$var} {
                gap: #{ptr($var * 1px)};
            }
        }
        &-column {
            @for $var from $gap-min to ($gap-max + 1) {
                &-#{$var} {
                    column-gap: #{ptr($var * 1px)};
                }
            }
        }
        &-rows {
            @for $var from $gap-min to ($gap-max + 1) {
                &-#{$var} {
                    row-gap: #{ptr($var * 1px)};
                }
            }
        }
    }
}
.column-gap {
    @include resp {
        @for $var from $gap-min to ($gap-max + 1) {
            &-#{$var} {
                column-gap: #{ptr($var * 1px)};
            }
        }
    }
}
.row-gap {
    @include resp {
        @for $var from $gap-min to ($gap-max + 1) {
            &-#{$var} {
                row-gap: #{ptr($var * 1px)};
            }
        }
    }
}
