.opacity {
    @include resp {
        @for $var from 0 to 11 {
            &-#{$var} {
                opacity: #{$var / 10};
                &-hover:hover {
                    opacity: #{$var / 10};
                }
            }
        }
    }
}
