.resize {
    &-both {
        resize: both;
    } /* reescalado horizontal y vertical */
    &-none {
        resize: none;
    } /* desactiva el reescalado */
    &-vertical {
        resize: vertical;
    } /* reescalado solo vertical */
    &-horizontal {
        resize: horizontal;
    } /* reescaldo solo horizontal */
}
