.scale {
    @for $var from 0 to 11 {
        &-#{$var} {
            transform: scale(#{$var/10});
            --scale: #{$var/10};
        }
        &-Y-#{$var} {
            transform: scaleY(#{$var/10});
            --scale-Y: #{$var/10};
        }
        &-X-#{$var} {
            transform: scaleX(#{$var/10});
            --scale-X: #{$var/10};
        }
    }
}
