.transform {
    @include resp {
        transform: var(--translateX, translateX(0))
            var(--translateY, translateY(0)) var(--rotateX, rotateX(0))
            var(--rotateY, rotateY(0)) var(--rotateZ, rotateZ(0))
            var(--scaleX, scaleX(1)) var(--scaleY, scaleY(1))
            var(--scaleZ, scaleZ(1)) var(--skewX, skewX(0))
            var(--skewY, skewY(0));

        &-none {
            transform: none;
        }
        &-translate {
            &-X {
                @for $var from -100 to 101 {
                    &-p-#{$var} {
                        --translateX: translateX(#{$var * 1%});
                    }
                    &-vw-#{$var} {
                        --translateX: translateX(#{$var * 1vw});
                    }
                }
                @for $var
                    from $transform-translate-X-min
                    to
                    $transform-translate-X-max
                {
                    &-#{$var} {
                        --translateX: translateX(#{ptr($var * 1px)});
                    }
                }
            }
            &-Y {
                @for $var from -100 to 101 {
                    &-p-#{$var} {
                        --translateY: translateY(#{$var * 1%});
                    }
                    &-vh-#{$var} {
                        --translateY: translateY(#{$var * 1vh});
                    }
                }
                @for $var
                    from $transform-translate-Y-min
                    to
                    $transform-translate-Y-max
                {
                    &-#{$var} {
                        --translateY: translateY(#{ptr($var * 1px)});
                    }
                }
            }
        }
        &-rotate {
            @for $var from 0 to 361 {
                &-X {
                    &-#{$var} {
                        --rotateX: rotateX(#{$var * 1deg});
                    }
                }
                &-Y {
                    &-#{$var} {
                        --rotateY: rotateY(#{$var * 1deg});
                    }
                }
                &-Z {
                    &-#{$var} {
                        --rotateZ: rotateZ(#{$var * 1deg});
                    }
                }
            }
        }
        &-skew {
            @for $var from 0 to 361 {
                &-X {
                    &-#{$var} {
                        --skewX: skewX(#{$var * 1deg});
                    }
                }
                &-Y {
                    &-#{$var} {
                        --skewY: skewY(#{$var * 1deg});
                    }
                }
            }
        }
        &-scale {
            &-X {
                @for $var from $transform-scale-X-min to $transform-scale-X-max
                {
                    &-#{$var} {
                        --scaleX: scaleX(#{$var / 10});
                        &-hover:hover {
                            --scaleX: scaleX(#{$var / 10});
                        }
                    }
                }
            }
            &-Y {
                @for $var from $transform-scale-Y-min to $transform-scale-Y-max
                {
                    &-#{$var} {
                        --scaleY: scaleY(#{$var / 10});
                        &-hover:hover {
                            --scaleY: scaleY(#{$var / 10});
                        }
                    }
                }
            }
            &-Z {
                @for $var from $transform-scale-Z-min to $transform-scale-Z-max
                {
                    &-#{$var} {
                        --scaleZ: scaleZ(#{$var / 10});
                        &-hover:hover {
                            --scaleZ: scaleZ(#{$var / 10});
                        }
                    }
                }
            }
        }
    }
}
